.ex{
    font-family: "Cardo", serif;
    letter-spacing: 1px;
    font-size: 4em;
    text-shadow: -2px 2px 0px #000;
}

.form{
  max-width: 45rem;
  background:lightblue;
  margin:70px auto;
  padding: 50px 75px;
  box-sizing: border-box;
  text-align: center;
  box-shadow:0 0 0 20px #000000b3;
  font-family: "Monstserrat", sans-serif;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}